@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F2F8FE;
  color: #1C4980;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navcard-active{
  background-color: #E5F1FC;
  border: 2px solid #0073E6;
  border-radius: 15px;
  color: #0073E6;
}

#menu{
  left: -100vw;
  transition: left 0.2s ease;
  animation: slidein ease-in 0.2s forwards;
}

#menu.close-menu{
  left: 0vw;
  transition: left 0.2s ease;
  animation: slideout ease-in 0.2s forwards;
}

@keyframes slidein {
  from{
    left: -100vw
  }
  to{
    left: 0vw;
  }
}

@keyframes slideout {
  from{
    left: 0vw
  }
  to{
    left: -100vw;
  }
}

#form{
  bottom: -100vw;
  transition: bottom 0.2s linear;
  animation: slideup linear 0.2s forwards;
}

@keyframes slideup {
  from{
    bottom: -100vw
  }
  to{
    bottom: 0vw;
  }
}

.analytics{
  height: 0px;
  transition: height 0.5s linear;
}

.slidedown{
  height: 350px;
}

button{
  transition: background 0.1s ease;
}

.selected-assessment{
  border-bottom: #0073E6 2px solid;
  color: #0073E6;
  font-weight: bold;
}

.clicked{
  border: #0073E6 2px solid;
}
