@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: rgba(239, 239, 239, 0.469);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navcard-active{
  background-color: #E5F1FC;
  border: 2px solid #0073E6;
  border-radius: 15px;
  color: #0073E6;
}

#menu{
  left: -100vw;
  transition: left 0.3s ease;
  animation: slidein ease-out 1s forwards;
}

@keyframes slidein {
  from{
    left: -100vw
  }
  to{
    left: 0vw;
  }
}
