@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F2F8FE;
  color: #1C4980;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navcard-active{
  background-color: #E5F1FC;
  border: 2px solid #0073E6;
  border-radius: 15px;
  color: #0073E6;
}

#menu{
  left: -100vw;
  transition: left 0.3s ease;
  animation: slidein ease-in 0.7s forwards;
}

#menu.close-menu{
  left: 0vw;
  transition: left 0.3s ease;
  animation: slideout ease-in 0.7s forwards;
}

@keyframes slidein {
  from{
    left: -100vw
  }
  to{
    left: 0vw;
  }
}

@keyframes slideout {
  from{
    left: 0vw
  }
  to{
    left: -100vw;
  }
}

#form{
  bottom: -100vw;
  transition: bottom 0.3s linear;
  animation: slideup linear 0.3s forwards;
}

@keyframes slideup {
  from{
    bottom: -100vw
  }
  to{
    bottom: 0vw;
  }
}
